---
- name: (sys) update host apt cache
  apt:
    update_cache: true
    cache_valid_time: 3600

- name: (sys) download blackbox_exporter archive with check (sha256)
  get_url:
    url: https://github.com/prometheus/blackbox_exporter/releases/download/v{{ blackbox_exporter_version }}/blackbox_exporter-{{ blackbox_exporter_version }}.linux-amd64.tar.gz
    dest: /tmp/blackbox_exporter-{{ blackbox_exporter_version }}.linux-amd64.tar.gz
    checksum: sha256:{{ blackbox_exporter_sha256 }}
  register: blackbox_exporter_source

- name: (build) create a temp folder for blackbox_exporter sources
  file:
    path: "/tmp/blackbox_exporter/{{ blackbox_exporter_version }}"
    state: directory
    mode: "0755"

- name: (sys) create blackbox_exporter system group
  group:
    name: "blackbox_exporter"
    system: "true"
    state: present

- name: (sys) create blackbox_exporter system user
  user:
    name: "blackbox_exporter"
    system: "true"
    shell: "/usr/sbin/nologin"
    group: "blackbox_exporter"
    createhome: "false"
    home: "/var/lib/blackbox_exporter"

- name: (build) create folders for blackbox_exporter
  file:
    path: "{{ item }}"
    state: directory
    owner: "blackbox_exporter"
    group: "blackbox_exporter"
    mode: "0755"
  with_items:
    - "/etc/blackbox_exporter"
    - "/var/lib/blackbox_exporter"

- name: (build) unpack blackbox_exporter sources
  unarchive:
    copy: false
    dest: "/tmp/blackbox_exporter/{{ blackbox_exporter_version }}"
    src: "{{ blackbox_exporter_source.dest }}"

- name: (build) copy binaries to system
  copy:
    remote_src: true
    src: "/tmp/blackbox_exporter/{{ blackbox_exporter_version }}/blackbox_exporter-{{ blackbox_exporter_version }}.linux-amd64/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: "0755"
    owner: "blackbox_exporter"
    group: "blackbox_exporter"
  with_items:
    - blackbox_exporter

- name: (build) installing blackbox_exporter default configuration file
  template:
    src: "blackbox.yml.j2"
    dest: "/etc/blackbox_exporter/blackbox.yml"
    owner: "blackbox_exporter"
    group: "blackbox_exporter"
    mode: "644"

- name: (build) installing systemd unit
  template:
    src: "blackbox_exporter.service.j2"
    dest: "/lib/systemd/system/blackbox_exporter.service"
    owner: "blackbox_exporter"
    group: "blackbox_exporter"
    mode: "644"

- name: (sys) start blackbox-exporter
  systemd:
    daemon_reload: true
    enabled: true
    masked: false
    name: "blackbox_exporter"
    state: started
