---

- name: (sys) update host apt cache
  apt:
    cache_valid_time: 3600
    update_cache: true

- name: (sys) install sys tools
  apt:
    install_recommends: false
    name: "{{ item }}"
    state: present
  loop:
    - wget
    - libfontconfig1

- name: (sys) download grafana deb with check (sha256)
  get_url:
    checksum: sha256:{{ grafana_sha256 }}
    dest: /tmp/grafana_{{ grafana_version }}_amd64.deb
    url: https://dl.grafana.com/oss/release/grafana_{{ grafana_version }}_amd64.deb

- name: (sys) install grafana .deb package
  apt:
    deb: /tmp/grafana_{{ grafana_version }}_amd64.deb

- name: (sys) installing grafana custom datasources configuration file
  template:
    dest: "/etc/grafana/provisioning/datasources/grafana-ds-prometheus.yml"
    group: "grafana"
    mode: 0644
    owner: "grafana"
    src: "grafana-ds-prometheus.yml.j2"

- name: (sys) installing custom grafana configuration file
  template:
    dest: "/etc/grafana/grafana.ini"
    group: "grafana"
    mode: 0644
    owner: "grafana"
    src: "grafana.ini.j2"

- name: (sys) change file ownership group and permissions of systemd unit
  file:
    group: "grafana"
    mode: 0644
    owner: "grafana"
    path: /lib/systemd/system/grafana-server.service

- name: (sys) start grafana service
  systemd:
    daemon_reload: true
    enabled: true
    masked: false
    name: "grafana-server"
    state: started
