---
- name: (sys) download influxdb deb with check (sha256)
  get_url:
    url: https://dl.influxdata.com/influxdb/releases/influxdb2-{{ influxdb_version }}-amd64.deb
    dest: /tmp/influxdb2-{{ influxdb_version }}-amd64.deb
    checksum: sha256:{{ influxdb_sha256 }}

- name: (sys) install influxdb .deb package
  apt:
    deb: /tmp/influxdb2-{{ influxdb_version }}-amd64.deb

- name: (sys) create influxdb system group
  group:
    name: "influxdb"
    system: "true"
    state: present

- name: (sys) create influxdb system user
  user:
    name: "influxdb"
    system: "true"
    shell: "/usr/sbin/nologin"
    group: "influxdb"
    createhome: "false"
    home: "/tmp/"

- name: (build) installing systemd unit
  template:
    src: "influxdb.service.j2"
    dest: "/lib/systemd/system/influxdb.service"
    owner: "influxdb"
    group: "influxdb"
    mode: "644"
    notify: start influxdb
