---
# tasks/main.yml

- name: (sys) update host apt cache
  apt:
    update_cache: true
    cache_valid_time: 3600

- name: (sys) install sys tools
  apt:
    name: "{{ item }}"
    state: present
    install_recommends: false
  loop:
    - wget
    - libfontconfig1

- name: (sys) install InfluxDB
  include_tasks: "influxdb.yml"

- name: (sys) install Grafana
  include_tasks: "grafana.yml"

- name: (sys) install Prometheus
  include_tasks: "prometheus.yml"

- name: (sys) install node_exporter
  include_tasks: "node_exporter.yml"

- name: (sys) install Loki
  include_tasks: "loki.yml"

- name: (sys) install blackbox_exporter
  include_tasks: "blackbox.yml"
