---

- name: (sys) download mysqld_exporter archive with check (sha256)
  get_url:
    url: https://github.com/prometheus/mysqld_exporter/releases/download/v{{ mysqld_exporter_version }}/mysqld_exporter-{{ mysqld_exporter_version }}.linux-amd64.tar.gz
    dest: /tmp/mysqld-exporter-{{ mysqld_exporter_version }}.linux-amd64.tar.gz
    checksum: sha256:{{ mysqld_exporter_sha256 }}
  register: mysqld_exporter_source

- name: (build) create a temp folder for mysqld_exporter sources
  file:
    path: "/tmp/mysqld_exporter/{{ mysqld_exporter_version }}"
    state: directory
    mode: "0755"

- name: (sys) create mysqld_exporter system group
  group:
    name: "mysqld_exporter"
    system: "true"
    state: present

- name: (sys) create mysqld_exporter system user
  user:
    name: "mysqld_exporter"
    system: "true"
    shell: "/usr/sbin/nologin"
    group: "mysqld_exporter"
    createhome: "false"
    home: "/tmp/"

- name: (build) unpack mysqld_exporter sources
  unarchive:
    copy: false
    dest: "/tmp/mysqld_exporter/{{ mysqld_exporter_version }}"
    src: "{{ mysqld_exporter_source.dest }}"

- name: (build) copy binaries to system
  copy:
    remote_src: true
    src: "/tmp/mysqld_exporter/{{ mysqld_exporter_version }}/mysqld_exporter-{{ mysqld_exporter_version }}.linux-amd64/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: "0755"
    owner: "mysqld_exporter"
    group: "mysqld_exporter"
  with_items:
    - mysqld_exporter

- name: (build) installing systemd unit
  template:
    src: "mysqld_exporter.service.j2"
    dest: "/lib/systemd/system/mysqld_exporter.service"
    owner: "mysqld_exporter"
    group: "mysqld_exporter"
    mode: "644"

# - name: (sys) enabling mysqld_exporter systemd unit file
#   systemd:
#     name: "mysqld_exporter"
#     enabled: true
#     masked: false

# - name: (sys) start mysqld_exporter to the moon
#   systemd:
#     name: "mysqld_exporter"
#     state: restarted
#     daemon_reload: true
