---

- name: (sys) download nginx_exporter archive with check (sha256)
  get_url:
    url: https://github.com/nginxinc/nginx-prometheus-exporter/releases/download/v{{ nginx_exporter_version }}/nginx-prometheus-exporter_{{ nginx_exporter_version }}_linux_amd64.tar.gz
    dest: /tmp/nginx-prometheus-exporter-{{ nginx_exporter_version }}.linux-amd64.tar.gz
    checksum: sha256:{{ nginx_exporter_sha256 }}
  register: nginx_exporter_source

- name: (build) create a temp folder for nginx_exporter sources
  file:
    path: "/tmp/nginx_exporter/{{ nginx_exporter_version }}"
    state: directory
    mode: "0755"

- name: (sys) create nginx_exporter system group
  group:
    name: "nginx_exporter"
    system: "true"
    state: present

- name: (sys) create nginx_exporter system user
  user:
    name: "nginx_exporter"
    system: "true"
    shell: "/usr/sbin/nologin"
    group: "nginx_exporter"
    createhome: "false"
    home: "/tmp/"

- name: (build) unpack nginx_exporter sources
  unarchive:
    copy: false
    dest: "/tmp/nginx_exporter/{{ nginx_exporter_version }}"
    src: "{{ nginx_exporter_source.dest }}"

- name: (build) copy binaries to system
  copy:
    remote_src: true
    src: "/tmp/nginx_exporter/{{ nginx_exporter_version }}/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: "0755"
    owner: "nginx_exporter"
    group: "nginx_exporter"
  with_items:
    - nginx-prometheus-exporter

- name: (build) installing systemd unit
  template:
    src: "nginx_exporter.service.j2"
    dest: "/lib/systemd/system/nginx_exporter.service"
    owner: "nginx_exporter"
    group: "nginx_exporter"
    mode: "644"
  notify: start nginx-exporter
