---
# based on https://github.com/cloudalchemy/ansible-prometheus

    - name: (sys) update host apt cache
      apt:
        update_cache: true
        cache_valid_time: 3600

    - name: (sys) download node_exporter archive with check (sha256)
      get_url:
        url: https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz
        dest: /tmp/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz
        checksum: sha256:{{ node_exporter_sha256 }}
      register: node_exporter_source

    - name: (build) create a temp folder for node_exporter sources
      file:
        path: "/tmp/node_exporter/{{ node_exporter_version }}"
        state: directory
        mode: "0755"

    - name: (sys) create node_exporter system group
      group:
        name: "node_exporter"
        system: "true"
        state: present

    - name: (sys) create node_exporter system user
      user:
        name: "node_exporter"
        system: "true"
        shell: "/usr/sbin/nologin"
        group: "node_exporter"
        createhome: "false"
        home: "/tmp/"

    - name: (build) unpack node_exporter sources
      unarchive:
        copy: false
        dest: "/tmp/node_exporter/{{ node_exporter_version }}"
        src: "{{ node_exporter_source.dest }}"

    - name: (build) copy binaries to system
      copy:
        remote_src: true
        src: "/tmp/node_exporter/{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64/{{ item }}"
        dest: "/usr/local/bin/{{ item }}"
        mode: "0755"
        owner: "node_exporter"
        group: "node_exporter"
      with_items:
        - node_exporter

    - name: (build) installing systemd unit
      template:
        src: "node_exporter.service.j2"
        dest: "/lib/systemd/system/node_exporter.service"
        owner: "root"
        group: "root"
        mode: "644"

    - name: (sys) enabling node_exporter systemd unit file
      systemd:
        name: "node_exporter"
        enabled: true
        masked: false

    - name: (sys) start node_exporter to the moon
      systemd:
        name: "node_exporter"
        state: restarted
        daemon_reload: true
